<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mozos</title>
</head>
<body>

    {% if error %}
          <p style="color:blueviolet">{{ error }}</p>
    {% endif %}
<h1>Busqueda de Mozos por Apellido</h1>

<form action="{% url 'buscarA' %}" method="GET">
    <input type="text" name="apellido" id="apellido">

    <input type="submit" value="buscar">


</form>

</body>
</html>